chromedriver==2.24.1
click==8.0.0
coverage==5.5
Flask==2.0.0
Flask-Script==2.0.5
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
nose2==0.10.0
selenium==3.141.0
six==1.16.0
unittest-xml-reporting==3.0.4
urllib3==1.26.4
Werkzeug==2.0.0
